
$primary: #4a4e69;
$secondary: #c9ada7;
$success: #81b29a;
$info: #c9ada7;
$warning: #fcbf49;
$danger: #d62828;
$light: #f5f3f4;
$dark: #22223b;

$gray: #4a4e69;
$white: #fff;
$black: #222;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  gray: $gray,
);
